{sub_dirs, ["rel"]}.

{erl_opts, [{i, ["include"]}, {parse_transform, lager_transform}]}.

{port_specs,
 [{".*", "priv/lib/pigeon_gpio.so", ["c_src/pigeon_gpio.c"],
   [{env, [{"LDFLAGS", "$LDFLAGS -lwiringPi"}]}]},
  {".*", "priv/lib/pigeon_spi.so", ["c_src/pigeon_spi.c"],
   [{env, [{"LDFLAGS", "$LDFLAGS -lwiringPi"}]}]},
  {".*", "priv/lib/pigeon_timing.so", ["c_src/pigeon_timing.c"],
   [{env, [{"LDFLAGS", "$LDFLAGS -lwiringPi"}]}]}  
 ]}.

{deps, [
        {lager, ".*", {git, "https://github.com/basho/lager", {branch, "master"}}},
        {folsom, ".*", {git, "https://github.com/boundary/folsom.git", {tag, "0.8.1"}}}
]}.
